.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #efefef;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color : #aaa;
    float : right;
    font-size: 28px;
    font-weight: bold;
}

/* For full-page background color */
.landing-page {
    background-color: #f0f0f0; /* Light gray */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* For full-page background image */
.landing-page-image {
    background-image: url("https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(14, 13, 13); /* Text color */
}


